* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 5px;
  padding: 5px;
}
.cell {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 1px solid #888888;
  border-radius: 30%;
  margin: 1px;
  text-align: center;
}
.cell:hover {
    background-color: antiquewhite;
}
.wide-cell {
  height: 50px;
  width: 100px;
  display: inline-block;
  border: 1px solid #888888;
  border-radius: 15%;
  text-align: center;
}
.wide-cell:hover {
    background-color: antiquewhite;
}
.unclickable:hover {
    background-color: rgb(196, 196, 196);
}
.unclickableSpace:hover {
    background-color: rgb(196, 196, 196);
}
.underline {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  display: inline-block;
  border-bottom: 1px solid #888888;
  text-align: center;
  margin: 10px;
}
.unclickable {
  background-color: rgb(196, 196, 196);
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 1px solid #888888;
  text-align: center;
}
.unclickableSpace {
  background-color: rgb(196, 196, 196);
  height: 50px;
  width: 100px;
  display: inline-block;
  border: 1px solid #888888;
  text-align: center;
}
.container {
  background-color: rgb(229, 245, 250);
}

img {
  block-size: 130%;
}
#guesses-board {
  display: flex;
  align-items: center;
}

#message {
  color: rgb(98, 93, 93);
  text-align: center;
}

#answer {
  text-align: right;
}
#keyboard:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #alert {
    margin: 0;
  }
  #message {
    margin: 0;
  }
  img {
    block-size: 100%;
  }
  .col-sm-12.col-md-5 {
    height:200px;
  }
  .cell {
    height: 40px;
    width: 40px;
}
.wide-cell {
  height: 40px;
  width: 80px;
  display: inline-block;
  border: 1px solid #888888;
  border-radius: 15%;
  text-align: center;
}
button {
  float: right;
}
/* #keyboard {
  width:320;
} */

}